<div class="container p-3" align="center">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text">Available Job List</h2>
        </div>
    </div>
    <br />
    <br />

<table id="tblData" class="table table-light" style="width:70%" align="center">
    <thead>
        <tr>
            <th></th>
            <th>Job</th>
            <th>Description</th>
            @*<th>JobPoster</th>
            <th>Applied JobSeekers</th>*@
            <th></th>
        </tr>
    </thead>
</table>
</div>
@section Scripts
{
    <script src="~/js/jobApply.js"></script>
}

@*@model IEnumerable<Job>

<div class="row pb-3">
    @foreach (var job in Model)
    {
        <div class="col-lg-4 col-md-6 col-sm-12">
            <div class="row p-2">
                <div class="col-12 p-1" style="border:1px solid #008cba; border-radius:5px;">
                    <div class="card">
                        <div class="row">
                            <div class="col-6">
                                <img src="@job.Category.ImageUrl" class="card-img-top rounded"/>
                            </div>
                            <div class="col-6">
                                <div class="card-body">
                                    <div class="pl-1">
                                        <p class="card-title h4 text-primary">@job.Category.Name</p>
                                    </div>
                                    <div class="pl-1">
                                        <p class="card-title text-info">@job.Description</p>
                                        <p class="card-title h5 text-primary">
                                            <i class="bi bi-geo-alt-fill" style="color:red"></i>
                                            @job.JobLocation
                                        </p>
                                        <p class="card-title text">
                                            <i class="bi bi-calendar-event"></i>
                                            @job.Date.ToString("dd/MM/yyyy")
                                        </p>
                                        <p class="card-title text">
                                            <i class="bi bi-clock" style="color:blue"></i>
                                            @job.Time.ToString("h:mm tt")
                                        </p>
                                        <p class="card-title h3 text-primary">
                                            <i class="bi bi-cash" style="color:green"></i>
                                            NOK @job.Budget
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div> 
                    </div>
                    
                    <div>
                        <a asp-action="Apply" class="btn btn-primary form-control" asp-route-id="@job.Id">Apply</a>
                    </div>
                </div>
            </div>
        </div>
    }
</div>*@